<div class="container">
  <div class="well">
    <h1>{{title}}</h1>
    <h2>Welcome, {{userName}}!</h2>
    <form>
      <input type="text" name="user" [(ngModel)]="userName" class="form-control" placeholder="enter your name">
    <br>
    </form>
    <div class="card">
      <div>
        <ul>
          <li *ngFor="let recipe of recipes" [class]="ratingRecipe(recipe)">{{recipe.name}} <button (mouseover)="editRecipe(recipe)" class="btn btn-info">Edit</button><button (click)="recipeDetails(recipe)" class="btn btn-primary">Instructions</button></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="well" *ngIf="selectedRecipe">
    <div class="well">
      <div class="header">
        <h3>{{selectedRecipe.name}}</h3>
      </div>
      <div class="body">
        <h4>Ingredients</h4>
        <ul>
          <li *ngFor="let ingredient of selectedRecipe.ingredients">{{ingredient}}</li>
        </ul>
        <h4>Directions</h4>
        <p>{{selectedRecipe.directions}}</p>
        <h4>Have you tried it?</h4>
        <p>{{selectedRecipe.done}}</p>
      </div>
    <label>Enter Recipe Name:</label>
    <input [(ngModel)]="selectedRecipe.name" class="form-control">
    <br>
    <input [(ngModel)]="selectedRecipe.directions" class="form-control">
    <br>
    <!-- <input [(ngModel)]="selectedRecipe.ingredients[0]" class="form-control">
  <!--   <input [(ngModel)]="selectedRecipe.ingredients[1]" class="form-control">
    <input [(ngModel)]="selectedRecipe.ingredients[2]" class="form-control"> --> -->
    <h4>Status</h4>
    <input type="radio" [(ngModel)]="selectedRecipe.done" value="true"> made it<br>
    <input type="radio" [(ngModel)]="selectedRecipe.done" value="false"> haven't tried it<br>
    <br>
    <button (click)="finishedEditing()">Done</button>
  </div>
</div>
